* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.full-screen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.full-screen-video-wrap video {
  min-height: 100%;
  min-height: 100%;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #225470;
  opacity: 0.85;
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  line-height: 1.2;
}

.header-content p {
  padding: 1rem;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 2rem;
}

.button {
  text-decoration: none;
  color: #fff;
  background: #34b3a0;
  padding: 1rem 2rem;
  margin: 1rem;
}

section {
  padding: 2rem 0;
}

#section-b {
  background: #333;
  color: #fff;
}
